body {
	/*font-family: 'Jockey One', sans-serif;*/
	    font-family: 'Oswald',sans-serif;
	    font-family: "Courier";
	    border: 15px solid #fff;
	    min-height: 100vh;
	    width: 100%;
	    border-bottom-color: #343a40;
	    /*position: fixed;*/
	   
}

.header{
	letter-spacing: 15px;
}

.h5-border{
	border-left: 1px solid rgba(0,0,0,.1);
}

@media (max-width: 690px) {
  .header{
	letter-spacing: 2px;
}
}